# Import thư viện

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Đọc dữ liệu, hiển thị 10 dòng đầu tiên

In [56]:
data = pd.read_csv('/content/drive/MyDrive/PhanTichDuLieu_CodeGym/Tuan01/data/OnlineRetail_small.csv')
data.head(10)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...      17850  United Kingdom
1    536365     71053  ...      17850  United Kingdom
2    536365    84406B  ...      17850  United Kingdom
3    536365    84029G  ...      17850  United Kingdom
4    536365    84029E  ...      17850  United Kingdom
5    536365     22752  ...      17850  United Kingdom
6    536365     21730  ...      17850  United Kingdom
7    536366     22633  ...      17850  United Kingdom
8    536366     22632  ...      17850  United Kingdom
9    536367     84879  ...      13047  United Kingdom

[10 rows x 8 columns]

In [57]:
data.tail(10) # 10 dòng cuối cùng

     InvoiceNo StockCode  ... CustomerID         Country
1489    536544     22064  ...        NaN  United Kingdom
1490    536544     22065  ...        NaN  United Kingdom
1491    536544     22067  ...        NaN  United Kingdom
1492    536544     22068  ...        NaN  United Kingdom
1493    536544     22069  ...        NaN  United Kingdom
1494    536544     22071  ...        NaN  United Kingdom
1495    536544     22075  ...        NaN  United Kingdom
1496    536544     22076  ...        NaN  United Kingdom
1497    536544     22077  ...        NaN  United Kingdom
1498    536544     22080  ...        NaN  United Kingdom

[10 rows x 8 columns]

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    1499 non-null   object
 1   StockCode    1499 non-null   object
 2   Description  1498 non-null   object
 3   Quantity     1499 non-null   object
 4   InvoiceDate  1499 non-null   object
 5   UnitPrice    1499 non-null   float64
 6   CustomerID   1442 non-null   object
 7   Country      1490 non-null   object
dtypes: float64(1), object(7)
memory usage: 93.8+ KB

In [59]:
data.describe()

          UnitPrice
count   1499.000000
mean      99.846177
std     1255.229506
min        0.000000
25%        1.250000
50%        2.100000
75%        3.750000
max    17920.000000

In [60]:
df = data

In [61]:
quantity = df['Quantity']
quantity

0       6
1       6
2       8
3       6
4       6
       ..
1494    1
1495    1
1496    1
1497    3
1498    1
Name: Quantity, Length: 1499, dtype: object

In [62]:
quantity = df['Quantity'][40]
quantity

'12/1/10 8:45'

In [63]:
# Sửa lại dòng 40
df.Quantity.iloc[40] = 6
df

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

     InvoiceNo StockCode  ... CustomerID         Country
0       536365    85123A  ...      17850  United Kingdom
1       536365     71053  ...      17850  United Kingdom
2       536365    84406B  ...      17850  United Kingdom
3       536365    84029G  ...      17850  United Kingdom
4       536365    84029E  ...      17850  United Kingdom
...        ...       ...  ...        ...             ...
1494    536544     22071  ...        NaN  United Kingdom
1495    536544     22075  ...        NaN  United Kingdom
1496    536544     22076  ...        NaN  United Kingdom
1497    536544     22077  ...        NaN  United Kingdom
1498    536544     22080  ...        NaN  United Kingdom

[1499 rows x 8 columns]

In [64]:
# Cách 2 lấy 1 cột
coun = df.Country
coun

0       United Kingdom
1       United Kingdom
2       United Kingdom
3       United Kingdom
4       United Kingdom
             ...
1494    United Kingdom
1495    United Kingdom
1496    United Kingdom
1497    United Kingdom
1498    United Kingdom
Name: Country, Length: 1499, dtype: object

## Công ty bán hàng do bao nhiêu nước sẳn xuất

In [65]:
countries = df.Country.unique()
countries

array(['United Kingdom', 'France', nan, 'Australia', 'Netherlands',
       'Germany', 'Norway', 'EIRE'], dtype=object)

In [74]:
print('Số nước sản xuất là: ', len(countries))

Số nước sản xuất là:  8

In [67]:
unit = df['UnitPrice']
unit

0       2.55
1       3.39
2       2.75
3       3.39
4       3.39
        ...
1494    7.62
1495    3.36
1496    3.36
1497    3.36
1498    3.36
Name: UnitPrice, Length: 1499, dtype: float64

In [68]:
# Sửa lại dòng 521,537,611, 617,641,927,1057,1164
df.Quantity.iloc[521] = 6
df.Quantity.iloc[537] = 5
df.Quantity.iloc[611] = 5
df.Quantity.iloc[617] = 5
df.Quantity.iloc[641] = 5
df.Quantity.iloc[927] = 4
df.Quantity.iloc[1057] = 8
df.Quantity.iloc[1164] = 6

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [69]:
# Chuyển đổi qua numeric
float_quantity = pd.to_numeric(df.Quantity)

In [70]:
float_quantity

0       6
1       6
2       8
3       6
4       6
       ..
1494    1
1495    1
1496    1
1497    3
1498    1
Name: Quantity, Length: 1499, dtype: int64

## Số lượng đơn hàng bán ra và tổng doanh thu

In [71]:
# Tạo cột tính thành tiền
df['Total'] = float_quantity * df['UnitPrice']

In [73]:
df['Total']

0       15.30
1       20.34
2       22.00
3       20.34
4       20.34
        ...
1494     7.62
1495     3.36
1496     3.36
1497    10.08
1498     3.36
Name: Total, Length: 1499, dtype: float64

In [76]:
# Giá trị đơn hàng của mỗi đơn hàng
total_invoices = df['Total'].sum()
print ("số lượng hóa đơn bán ra: "+ str (total_invoices.size))
print ("Tổng doanh thu: " + str(total_invoices.sum()))

số lượng hóa đơn bán ra: 1
Tổng doanh thu: 831173.49

## Top 10 mặt hàng có doanh thu lớn nhất

In [90]:
# sử dụng groupby để tiến hành tính tổng (sum) theo nhóm.
# Vì mỗi mã hàng sẽ có một mô tả tương ứng, để rõ ràng, tiến hành gom nhóm theo 2 thuộc tính: StockCode, Description
quantity_product = df.groupby(['StockCode', 'Description'])['Total'].sum().sort_values(ascending= False)
quantity_product.head(10)

StockCode                              Description
22900 SET 2 TEA TOWELS I LOVE LONDON   1                                 290138.00
                                       2                                 179200.00
72800B 4 PURPLE FLOCK DINNER CANDLES   2                                 120096.00
22900 SET 2 TEA TOWELS I LOVE LONDON   24                                 75498.00
                                       7                                  69508.00
                                       3                                  64190.00
21137                                  BLACK RECORD COVER FRAME            1627.20
79321                                  CHILLI LIGHTS                        773.04
22779                                  WOODEN OWLS LIGHT GARLAND            647.04
22780                                  LIGHT GARLAND BUTTERFILES PINK       647.04
Name: Total, dtype: float64

## Top 10 mặt hàng có số lượng bán ra lớn nhất

In [91]:
df['Quantity'] = float_quantity

In [93]:
quantity_product = df.groupby(['StockCode', 'Description'])['Quantity'].sum().sort_values(ascending= False)
quantity_product.head(10)

StockCode  Description
17021      NAMASTE SWAGAT INCENSE             600
21137      BLACK RECORD COVER FRAME           480
21731      RED TOADSTOOL LED NIGHT LIGHT      465
22466      FAIRY TALE COTTAGE NIGHTLIGHT      432
20668      DISCO BALL CHRISTMAS DECORATION    312
85099B     JUMBO BAG RED RETROSPOT            254
22197      SMALL POPCORN HOLDER               229
22866      HAND WARMER SCOTTY DOG DESIGN      225
21212      PACK OF 72 RETROSPOT CAKE CASES    221
22086      PAPER CHAIN KIT 50'S CHRISTMAS     217
Name: Quantity, dtype: int64