<a href="https://colab.research.google.com/github/ducnguyen1704/Data-Analyst/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tìm hiểu về Pandas và DataFrame

### Tạo DataFrame rỗng

In [ ]:
import pandas as pd
data = pd.DataFrame()
data.head(10)

Empty DataFrame
Columns: []
Index: []

### Tạo DataFrame từ list

In [ ]:
lst = ['Kế toán','Kinh doanh','Tiếp thị']
df = pd.DataFrame(lst)
df

            0
0     Kế toán
1  Kinh doanh
2    Tiếp thị

### Tạo DataFrame từ tuple

In [ ]:
tuples = [('Kế toán', 2000),( 'Kinh doanh', 2100), ('Tiếp thị', 1900)]
df = pd.DataFrame(tuples, columns=['Nghề','Lương'])
df

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

Sự khác biệt giữa List và Tuple gồm:

1. Tính bất biến: Tuple là bất biến, có nghĩa là chúng ta không thể thêm, bớt hoặc thay đổi các phần tử trong một Tuple. 

2. Cú pháp: Tuple biểu diễn các phần tử thông qua cặp dấu ngoặc tròn, List sử dụng cặp dấu ngoặc vuông.

3. Tốc độ: Tuple có tốc độ truy cập và truy xuất các phần tử nhanh hơn List.

### Tạo DataFrame từ dict

In [ ]:
dic = {'Nghề':['Kế toán','Kinh doanh','Tiếp thị'],
       'Lương':[2000, 2100, 1900]}
df = pd.DataFrame(dic)

In [ ]:
print(df)

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

# Giới thiệu kiểu dữ liệu pandas series, tạo pandas series từ dictionary, numpy array, giá trị vô hướng (scalar)

Series là cấu trúc dữ liệu tuần tự một chiều có thể lưu trữ và xử lý các loại dữ liệu khác nhau như kiểu chuỗi, kiểu số, kiểu thời gian… Series là một trong các cột của DataFrame. Chúng ta có thể tạo Series bằng cách sử dụng Dictionary, mảng NumPy và từ các giá trị vô hướng.

### Tạo Series từ dictionary

In [ ]:
dicts = {0 : 'Kế toán', 1 : 'Kinh doanh', 2 : 'Tiếp thị'}
seri = pd.Series(dicts)
print(seri)

0       Kế toán
1    Kinh doanh
2      Tiếp thị
dtype: object

### Tạo seri từ numpy array

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
arr = np.array([51,65,48,59,68])
seri2 = pd.Series(arr)
seri2

0    51
1    65
2    48
3    59
4    68
dtype: int64

In [ ]:
df = pd.DataFrame(arr, columns=['Chỉ số']) # DataFrame
print(df)

   Chỉ số
0      51
1      65
2      48
3      59
4      68

### Tạo series từ các giá trị vô hướng

In [ ]:
import pandas as pd
import numpy as np
import random
b = random.randint(0,10)
seri = pd.Series(8, index=[0,1,2,3,4,5,6,7,8])
print(seri)

0    8
1    8
2    8
3    8
4    8
5    8
6    8
7    8
8    8
dtype: int64

# Mô tả DataFrame; xác định số cột, số dòng của dataframe; xác định kiểu dữ liệu của các thuộc tính;

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv('/content/drive/MyDrive/PhanTichDuLieu_CodeGym/Tuan02/data/FoodPrice_in_Turkey.csv')
data.head(10)

              Place  ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average         52  Rice - Retail     5     KG      5  2013  4.4920
1  National Average         52  Rice - Retail     5     KG      6  2013  4.5786
2  National Average         52  Rice - Retail     5     KG     11  2013  4.7865
3  National Average         52  Rice - Retail     5     KG     12  2013  5.1337
4  National Average         52  Rice - Retail     5     KG      1  2014  5.5099
5  National Average         52  Rice - Retail     5     KG      2  2014  5.8146
6  National Average         52  Rice - Retail     5     KG      3  2014  6.0014
7  National Average         52  Rice - Retail     5     KG      5  2014  6.3202
8  National Average         52  Rice - Retail     5     KG      6  2014  6.6019
9  National Average         52  Rice - Retail     5     KG      7  2014  6.6503

In [ ]:
data.shape

(7381, 8)

In [ ]:
print("Số dòng dữ liệu: ",data.shape[0]) # Chỉ số của dòng
print("Số cột dữ liệu: ",data.shape[1]) # Chỉ số của cột

Số dòng dữ liệu:  7381
Số cột dữ liệu:  8

In [ ]:
# Kiểm tra tên các thuộc tính
data.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [ ]:
len(data.columns)

8

In [ ]:
# Kiểm tra dữ liệu của các cột thuộc tính
data.dtypes

Place           object
ProductId        int64
ProductName     object
UmId             int64
UmName          object
Month            int64
Year             int64
Price          float64
dtype: object

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [ ]:
data.describe()

         ProductId         UmId        Month         Year        Price
count  7381.000000  7381.000000  7381.000000  7381.000000  7381.000000
mean    254.509687    15.252811     6.479881  2017.458474    15.738709
std     141.008599    25.276665     3.530361     1.499256    22.418284
min      52.000000     5.000000     1.000000  2013.000000     0.253900
25%     114.000000     5.000000     3.000000  2017.000000     3.223600
50%     239.000000     5.000000     6.000000  2018.000000     5.909600
75%     388.000000     5.000000    10.000000  2019.000000    20.441900
max     502.000000   102.000000    12.000000  2019.000000   159.445800

![image.png]()